<ul style="list-style: none;">
  <li ng-repeat="deal in deals" style="border-bottom: 1px solid gray;">
    <h2 style="text-align: center;">$ {{deal.price}}</h2>
    <h2>{{deal.title}}</h2>
    <div class="span2">
      <a href={{deal.click_url}}>
        <img src={{deal.ad_unit_url_320x50}} alt={{deal.place_name}}></img></a>
    </div>
    <p>{{deal.description}}</p>
    <p>Expires: {{deal.expires_local | date}}</p>
  </li>
</ul>
<div class="span12" style="text-align: center;">
<button class="btn btn-primary btn-large" ng-click="getDeals()"><i  class="icon-refresh"></i>&nbsp;&nbsp;Reload</button>
</div>
