<label>Sources:</label>
<ul style="list-style: none;">
  <li><input type="checkbox" ng-model="groupon"><label style="display: inline;margin-left: 5px;">Groupon</label></input></li>
  <li><input type="checkbox" ng-model="yelp"><label style="display: inline;margin-left: 5px;">Yelp</label></input></li>
  <li><input type="checkbox" ng-model="grubhub"><label style="display: inline;margin-left: 5px;">GrubHub</label></input></li>
</ul>
<label>Categories:</label>
<ul style="list-style: none;">
  <li><input type="checkbox" ng-model="food"><label style="display: inline;margin-left: 5px;">Food</label></input></li>
  <li><input type="checkbox" ng-model="spa"><label style="display: inline;margin-left: 5px;">Spa</label></input></li>
  <li><input type="checkbox" ng-model="pizza"><label style="display: inline;margin-left: 5px;">Pizza</label></input></li>
</ul>
